:root {
    --white: hsl(0, 0%, 100%);
  
    --stone-100: hsl(30, 54%, 90%);
    --stone-150: hsl(30, 18%, 87%);
    --stone-600: hsl(30, 10%, 34%);
    --stone-900: hsl(24, 5%, 18%);
  
    --brown-800: hsl(14, 45%, 36%);
  
    --rose-800: hsl(332, 51%, 32%);
    --rose-50: hsl(330, 100%, 98%);
  }
@font-face {
  font-family: 'Outfit';
  src: url('../fonts/outfit/static/Outfit-Black.ttf') format('truetype');
  font-weight: 900; /* Black */
  font-style: normal;
}

@font-face {
  font-family: 'Outfit';
  src: url('../fonts/outfit/static/Outfit-Bold.ttf') format('truetype');
  font-weight: 700; /* Bold */
  font-style: normal;
}

@font-face {
  font-family: 'Outfit';
  src: url('../fonts/outfit/static/Outfit-ExtraBold.ttf') format('truetype');
  font-weight: 800; /* ExtraBold */
  font-style: normal;
}

@font-face {
  font-family: 'Outfit';
  src: url('../fonts/outfit/static/Outfit-ExtraLight.ttf') format('truetype');
  font-weight: 200; /* ExtraLight */
  font-style: normal;
}

@font-face {
  font-family: 'Outfit';
  src: url('../fonts/outfit/static/Outfit-Light.ttf') format('truetype');
  font-weight: 300; /* Light */
  font-style: normal;
}

@font-face {
  font-family: 'Outfit';
  src: url('../fonts/outfit/static/Outfit-Medium.ttf') format('truetype');
  font-weight: 500; /* Medium */
  font-style: normal;
}

@font-face {
  font-family: 'Outfit';
  src: url('../fonts/outfit/static/Outfit-Regular.ttf') format('truetype');
  font-weight: 400; /* Regular */
  font-style: normal;
}

@font-face {
  font-family: 'Outfit';
  src: url('../fonts/outfit/static/Outfit-SemiBold.ttf') format('truetype');
  font-weight: 600; /* SemiBold */
  font-style: normal;
}

@font-face {
  font-family: 'Outfit';
  src: url('../fonts/outfit/static/Outfit-Thin.ttf') format('truetype');
  font-weight: 100; /* Thin */
  font-style: normal;
}

/* Variable Font (if you want to use it) */
@font-face {
  font-family: 'Outfit Variable';
  src: url('../fonts/outfit/Outfit-VariableFont-wght.ttf') format('woff2 supports variations'),
       url('../fonts/outfit/Outfit-VariableFont-wght.ttf') format('woff-variations');
  font-weight: 100 900; /* Specify the supported weight range */
  font-style: normal;
}

@font-face {
  font-family: 'Young Serif';
  src: url('../fonts/Young-serif/YoungSerif-Regular.ttf') format('truetype');
  font-weight: 400; /* Regular */
  font-style: normal;
}
body {
    font-family: 'Outfit', sans-serif;
    font-size: 16px;
    line-height: 1.5;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    /* background-color: peachpuff; */
}
article {
    position: relative;
    padding: 25px;
}
article > .head:first-child {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    z-index: -1;
    /* margin: 25px; */
}
/* .head { */
    /* margin: -20px; learning - negative margin to compensate for the article padding causing the img not to fill the section element */
/* } */
.head img {
    display: block;
    width: 100%;;
}
.head h1, .head p, .head .preparation-time {
    /* background-color: red; */
    margin-left: 25px;
    margin-right: 25px;
}
.head h1 {
    line-height: 1.1;
    margin-top: 1.75rem;
    margin-bottom: 0;
    padding: 0;
    font-size: 1.75rem;
}
.head p {
    margin-top: 20px;
    padding: 0;
    font-size: .8rem;
}
.preparation-time {
    border-radius: 10px;
    background-color: var(--rose-50);
}
.preparation-time p {
    color: var(--rose-800);
    }
.ingredients {
    margin-top: 500px;
}